body {
    background: #555;
  }

  html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}

  
.content {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 10px;
  }